__pycache__/
poetry_cache/
*.pyc
*.pyo
.pytest_cache/

*.env
venv/
.venv/
poetry_env/
.pypirc

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.visualstudio/
*.launch
*.suo

*.txt
*.log
*.json
*.png
*.jpg
*.jpeg
*.gif
*.bmp

build/
dist/
*.egg-info/
*.egg

download*/
